[submodule "Carthage/Checkouts/Async"]
	path = Carthage/Checkouts/Async
	url = https://github.com/duemunk/Async.git
[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/mrackwitz/xcconfigs.git
